body
{
    background:aliceblue;
}
.container
{   
    top:0;
    width:500px;
    height:610px;
    background-image:url('2.png');
    background-size:cover;
    background-position:center;
    border:5px solid rgb(166, 62, 142);
    border-radius:15px;
    box-shadow:inset;
    text-align:left;
    padding:25px;
    margin:30px auto;
    color:white;
    font-style: italic;
    display:flex;
    flex-direction: column;
}
.highlight
{
    background:skyblue;
}
.box
{
    background:blanchedalmond;
    border-left:5px solid red;
    padding:6px;
    margin:20px 0px;
    font-style:oblique;
    color:black;
}
.aut-img
{
    width:70px;
    height:80px;
    border-radius: 5px;
    object-fit:cover;
    margin-right: 10px;
}
.author
{
    display:flex;
    align-items: center;
    background-color: beige;
    color:brown;
    padding:5px;
    border-radius:9px;
    margin-top: 10px;
}
.footer
{
    margin-top: 25px;
    display:flex;
    background:burlywood;
    color:blueviolet;
    padding:12px 18px;
    border-radius:5px;
    font-weight:bold;
    justify-content: space-between;
}
.ref
{
    background-color:brown;
    color: black;
    text-align: center;
}
h2
{
    color:blueviolet;
}
